<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>     
      <main>

        <figure class="logoDH">
          <img src="/img/logo-DH.png" alt="Logo Digital House">
        </figure>

        <br>
        <br>

        <a href="/movies"><h1>Listado de peliculas</h1></a>
        <br>
        <a href="/movies/add"><h3>Agregar una Película</h3></a>
      </main>
  </body>
</html>
